h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #222323;
    text-align: center;
    
    
}

div #worked {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border: 2px solid blueviolet;
    
    
}

.bg-pink{
	background-color:#b6b6b6ea;
}